
.portfolio__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin-left: 18rem;
	margin-right: 18rem;
}

.portfolio__item {
	background: var(--color-bg-variant);
	padding: 1.3rem;
	border-radius: 2rem;
	border:1px solid transparent;
	transition: var(--transition);
	height: 100%;
}

.card__info{
	position: relative;
}

.portfolio__item:hover {
	border-color: var(--color-primary-variant);
	background: transparent;
}

.portfolio__item-image{
	border-radius: 1.5rem;
	overflow: hidden;
}

.portfolio__item h3 {
	margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

/* ==========Media Queries (Large Devices)============  */
@media screen and (max-width: 1600px){
	#portfolio {
		margin-top: 20rem;	
		margin-bottom: 15rem;	
	}
	.portfolio__container {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

/* ==========Media Queries (Medium Devices)============  */
@media screen and (max-width: 1024px){
	.portfolio__container{
		grid-template-columns: 2fr;
		gap: 1.2rem;
		margin:auto ;
		width:80%;
		margin-bottom: 3rem;
	}
}

/* ==========Media Queries (Small Devices)============  */
@media screen and (max-width: 600px){
	.portfolio__container{
		grid-template-columns: 1fr;
		gap: 1rem;
		margin: auto;
		margin-bottom: 5rem;
		width: 75%;
	}
}
