.about__container {
    display: grid;
    grid-template-columns: 30% 40%;
    gap: 10%;
    margin-left: 20rem;
}

.about__me {
    aspect-ratio: 1/1.05;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-primary), 
        transparent
        
    );
    display: grid;
    place-items: center;
    margin-top: 4rem;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: flex-row;
    gap: 1rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    transform: scale(1.1, 1.1);
}

.about__icon {
    color: var(--color-primary);
    font-size: 3rem;

}

.about__card medium {
    font-size: 1rem;
    color: var(--color-light);
}

.about__info {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    text-align:justify;
    font-size: large;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
    border-color: var(--color-primary-variant);
    border-radius: 1rem;
    background: var(--color-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    
}

/* ==========Media Queries (Medium Devices)============  */
@media screen and (max-width: 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__info{
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        font-size: large;
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
}

/* ==========Media Queries (Small Devices)============  */
@media screen and (max-width: 600px){
    #about p {
        margin: auto;
    }
    .about__me {
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
        
    }

    .about__cards {
        gap: 1rem;
        width: 100%;
        background: red;
        margin-block-end: auto;
    }

    .about__content {
        text-align: center;
    }
    .about__content p{
        margin: 1rem 0;
    }

    .about__info {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        font-size: smaller;

    }
}
