.hobbies__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.hobbies__me {
    width: 120%;
    aspect-ratio: 1/1.33;
    border-radius: 2rem;
}

.hobbies__me-image {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    border-radius: 2rem;
    overflow: hidden;
    background: red;
    transition: 1s ease;
}

.single__image{
    border-radius: 1rem;
}

.single__image:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.hobbies__cards {
    display: flex-row;
    gap: 1rem;
}

.hobbies__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.hobbies__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    transform: scale(1.1, 1.1);
}

.hobbies__icon {
    color: var(--color-primary);
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;

}

.hobbies__card h5 {
    font-size: 0.95rem;
}

.hobbies__card small {
    font-size: .9rem;
    color: var(--color-light);
}

.hobbies__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

.hobby__list ul {
    background: red;

}

/* ==========Media Queries (Medium Devices)============  */
@media screen and (max-width: 1024px){
    .hobbies__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .hobbies__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .hobbies__content p {
        margin: 2rem 0 1.5rem;
    }
}

/* ==========Media Queries (Small Devices)============  */
@media screen and (max-width: 600px){
    .hobbies__me {
        height: 65%;
        margin: 1rem auto 3rem;
    }

    .hobbies__cards {
        gap: 1rem;
        width: 90%;
        margin: auto;
    }

    .hobbies__content {
        text-align: center;
    }
    .hobbies__content p{
        margin: 1.5rem 0;
    }
}
