#hobbies {
    margin-bottom: -15rem;
}

.hobbies__container {
    display: grid;
    grid-template-columns: 25% 45%;
    gap: 5%;
    margin-left: 20rem;
}

.hobbies__me {
    border-radius: 2rem;
    margin-top: 4rem;
}

.hobbies__me-image {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
    grid-template-rows: fit-content(100%) fit-content(100%) 1fr;
    overflow: hidden;
    align-items: center;
}

.single__image{
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    max-width: 80%;
}

.single__image:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.05);
    transition: 1s ease;
}

.hobbies__cards {
    display: flex-row;
    gap: 1rem;
}

.hobbies__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.hobbies__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    transform: scale(1.1, 1.1);
}

.hobbies__icon {
    color: var(--color-primary);
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}

.hobbies__card medium {
    font-size: 1rem;
    color: var(--color-light);
}

.hobbies__info {
    color: var(--color-light);
    text-align:center;
    font-size: large;
    border-color: var(--color-primary-variant);
    border-radius: 1rem;
    background: var(--color-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.hobbies__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


/* ==========Media Queries (Large Devices)============  */
@media screen and (max-width: 1600px){
    #hobbies {
        margin-bottom: -6rem;
    }

    .hobbies__container {
        margin-bottom: 1rem;
        grid-template-columns: 30% 55%;
        gap: 5%;
        margin-left: 10rem;
        margin-right: 2rem;
    }
}

/* ==========Media Queries (Medium Devices)============  */
@media screen and (max-width: 1024px){
    .hobbies__container {
        grid-template-columns: 1fr;
        width: 80%;
        display: inline;
        margin: auto;
    }
    .hobbies__content {
        width: 80%;
        margin: auto;
    }
    .hobbies__me {
        width: 80%;
        margin: auto;
    }
}

/* ==========Media Queries (Small Devices)============  */
@media screen and (max-width: 600px){
    .hobbies__container{
        display:inline;
        margin: auto;
    }

    .hobbies__me {
        width: 80%;
    }

    .hobbies__cards {
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .hobbies__content {
        text-align: center;
        width: 80%;
        margin:auto;
    }
    .hobbies__content p{
        margin: 1.5rem 0;
    }
    .hobbies__icon {
        display:none;
    }
    .hobbies__info {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
